.seeksync-btn {
    background-color: #3b82f6; /* bg-blue-500 */
    color: white;
    padding: 4px 24px;         /* py-1 px-24 */
    border-radius: 8px;     /* rounded-full */
    font-size: 1rem;       /* text-sm */
    font-weight: 700;
    margin-left: 1rem;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    cursor: pointer;
    z-index: 100;
    transition: all 0.2s ease;
    position: relative;
    white-space: nowrap;
    min-width: max-content;
    width: auto;
}

.seeksync-btn:active {
    background-color: #535bf2;
}

.seeksync-btn:hover {
    cursor: pointer;
}